<aside class="sidebar">
  <div class="sidebar-header">
    <div class="logo">
      <img src="https://placehold.co/40x40" alt="Logo" />
      <span>EduSales</span>
    </div>
  </div>
  <div class="sidebar-content">
    <ul class="menu">
      @for (item of menuItems; track item.name) {
        <li class="menu-item" [routerLinkActive]="'active'">
          <a [routerLink]="item.route">
            <i class="{{ item.icon }}"></i>
            <span>{{ item.name }}</span>
          </a>
        </li>
      }
    </ul>
  </div>
  <div class="sidebar-footer">
    <div class="user-info">
      <img src="https://placehold.co/40x40" alt="User" />
      <div class="user-details">
        <h4>Người dùng</h4>
        <p>user123.com</p>
      </div>
    </div>
  </div>
</aside>